@import '../../assets/styles/variables';

.filters-container {
    position: sticky;
    top: -1px;

    width: 100%;
    padding: 1em;

    background-color: rgba($color-white, 0.95);

    border-bottom: 1px solid silver;

    z-index: 1;
}
