@import '../../assets/styles/variables';
@import '../../assets/styles/mixins';

.list-section-container {
    width: 100%;
    width: 100%;
    max-width: 650px;
    min-width: 400px;

    .back-to-top-container {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;

        padding: 1em;

        background-color: rgba($color-white, 0.88);

        box-shadow: 0 -2px 3px 0 #aaa;
    }

}
