$fontFamily: 'Roboto',
sans-serif;
$font-weight-bold: bold;

$color-blue:#2B62AE;
$color-blue-light:#428bca;
$color-blue-pale:#dbe1f2;
$color-blue-purple: #4542CA;
$color-pink: #A8389F;
$color-grape: #9542CA;

$color-white:#ffffff;
